/* Medai qurey section */
@media only screen and (max-width: 1300px) {

	/* Burger menu */
	.hamburger {
		display: block;
		cursor: pointer;
	}

	#nav-icon {
		width: 50px;
		height: 45px;
		position: relative;
		top: 5px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #ffffff;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}

	#nav-icon span:nth-child(1) {
		top: 0px;
	}

	#nav-icon span:nth-child(2),
	#nav-icon span:nth-child(3) {
		top: 13px;
		width: 90%;
		left: 13px;
		background: rgb(255, 21, 21);
	}

	#nav-icon span:nth-child(4) {
		top: 26px;
	}

	#nav-icon.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	#nav-icon.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#nav-icon.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#nav-icon.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	/* Navbar */
	.navbar {
		height: 0;
		position: absolute;
		top: 85px;
		left: 0;
		right: 0;
		z-index: 1000;
		width: 100vw;
		background-color: rgba(0, 30, 42, 0.765);
		transition: 0.2s;
		overflow: hidden;
	}

	.navbar.active {
		height: 400px;
	}

	.navbar ul {
		display: flex;
		flex-direction: column;
		margin: 55px auto 0 auto;
		text-align: center;
		opacity: 0;
	}

	.navbar.active ul {
		opacity: 1;
	}

	.navbar ul li {
		margin-bottom: 20px;
	}

	.navbar ul li a {
		padding: 10px 100px;
		font-size: 20px;
	}

	.navbar ul li a:hover {
		color: #fff;
		background-color: rgba(243, 0, 0, 0.699);
	}

	.cta2 {
		display: none;
	}

	.cta {
		display: block;
		position: fixed;
		top: 500px;
		right: 19px;
		padding: 10px 13px;
		font-size: 40px;
		color: #fff;
		background-color: rgb(85, 77, 240);
		box-shadow: 0 0 10px rgb(83, 76, 218);
		border: none;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	.cta::after {
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 100%;
		border: 3px solid rgb(85, 77, 240);
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		animation: ring 1.5s infinite;
	}

	.cta::before {
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 100%;
		border: 3px solid rgb(85, 77, 240);
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		animation: ring 2.8s infinite;
	}

	.cta:hover {
		background-color: rgb(0, 27, 58);
		border: 1px solid rgb(0, 170, 255);
		color: #fff;
	}

	@keyframes ring {
		0% {
			width: 25px;
			height: 10px;
			opacity: 1;
		}

		100% {
			width: 130px;
			height: 130px;
			opacity: 0;
		}
	}

	/* Home Page */
	.home-img {
		margin-top: 70px;
	}

	/* Search bar */
	.search {
		display: none;
	}
}

@media (min-width: 750px) and (max-width: 1000px) {

	/* Home Page */
	.home-objects {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.home-title h2 {
		font-size: 80px;
		margin-top: 90px;
	}
}

@media (max-width: 750px) {

	/* Home Page */
	.home-title {
		margin: 6rem 0px;
	}

	.home-title h2 {
		font-size: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.home-objects {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.home-img {
		margin-top: 0;
	}

	.home-img img {
		width: 360px;
	}

	/* About Page */
	.about-page {
		padding: 0;
	}

	.about-title h2 {
		font-size: 28px;
	}

	.about-title p {
		padding: 0 2rem 0 2rem;
		line-height: 1.2rem;
		letter-spacing: 0.7px;
		width: 100%;
		font-size: 14px;
	}

	.card-title h2 {
		font-size: 25px;
	}

	.card-title p {
		font-size: 17px;
	}

	/* Swiper slider */
	.about-slider {
		padding: 60px 0 10px 0;
		height: 230px;
	}

	.image-slide {
		width: 100%;
		height: 100%;
	}

	/* Logistic Page */

	.logistic-content {
		padding-bottom: 26px;
	}

	.logistic-card-icon {
		width: 230px;
	}

	.logistic-text {
		padding: 30px;
	}

	.logistic-text h2 {
		font-size: 29px;
	}

	.logistic-text p {
		font-size: 15px;
	}

	.logistic-cards {
		margin: 5rem 1rem;
	}

	/* Products page */
	.products-page {
		min-height: 80vh;
		background-color: #fff;
	}

	.products-title h2 {
		font-size: 22px;
		text-align: center;
	}

	/* Swiper slider / Products */
	.product-slider {
		height: 515px;
		margin-bottom: 140px;
	}

	/* Footer */
	footer {
		flex-wrap: wrap;
		padding: 10px 10% 40px 10%;
	}

	.footer-logo {
		width: 100px;
		height: 100px;
		margin-bottom: 30px;
	}

	.footer-title h3 {
		font-size: 16px;
	}

	.footer-title p {
		font-size: 12px;
		width: 100%;
	}

	.social-media {
		padding-top: 45px;
		padding-left: 0;
	}

	.social-media a {
		font-size: 35px;
	}

	.contacts-text {
		padding-left: 0;
	}

	/* Contacts Page */

	.content-social-media a {
		padding: 20px 20px;
		font-size: 16px;
	}
}