/* Medai qurey section */
@media only screen and (max-width: 1000px) {

  /* Navbar */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }

  .navbar {
    height: 0;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(0, 30, 42, 0.765);
    transition: 0.2s;
    overflow: hidden;
  }

  .navbar.active {
    height: 400px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    margin: 55px auto 0 auto;
    text-align: center;
    opacity: 0;
  }

  .navbar.active ul {
    opacity: 1;
  }

  .navbar ul li {
    margin-bottom: 20px;
  }

  .navbar ul li a {
    padding: 10px 100px;
    font-size: 20px;
  }

  .navbar ul li a:hover {
    color: #fff;
    background-color: rgba(243, 0, 0, 0.699);
  }

  .cta {
    position: fixed;
    top: 500px;
    right: 15px;
  }

  button:hover {
    background-color: rgb(0, 27, 58);
  }

  /* Home Page */
  .home-img {
    margin-top: 80px;
  }

  /* Search bar */
  .search {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {

  /* Home Page */
  .home-objects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home-title h2 {
    font-size: 80px;
    margin-top: 90px;
  }

}

@media (max-width: 750px) {

  /* Home Page */
  .home-title {
    margin: 6rem 0px
  }

  .home-title h2 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-objects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home-img {
    margin-top: 0;
  }

  .home-img img {
    width: 360px;
  }

  /* Slider */
  .slider {
    margin-top: 60px;
  }

  .slider-item img {
    height: 200px;
  }

  /* About Page */
  .about-page {
    padding: 0;
  }

  .about-title h2 {
    font-size: 28px;
  }

  .about-title p {
    padding: 0 2rem 0 2rem;
    width: 100%;
    font-size: 12px;
  }

  .card-title h2 {
    font-size: 25px;
  }

  .card-title p {
    font-size: 17px;
  }

}