@import url(../CSS/media.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	min-height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #fff;
	min-height: 100%;
}

.big-wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

::selection {
	background-color: rgba(255, 0, 0, 0.649);
}

/* Navbar section */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 8%;
	width: 100vw;
	height: 85px;
	background-color: rgb(16, 25, 29);
}

header.fixed {
	background-color: rgba(13, 23, 35, 0.586);
	backdrop-filter: blur(9.7px);
	border-bottom: 2px solid rgba(255, 255, 255, 0.228);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.hamburger {
	display: none;
}

.nav-links,
li,
a {
	color: #fff;
	text-transform: uppercase;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links li a {
	display: block;
	position: relative;
}

.nav-links li a::after {
	content: "";
	width: 0;
	height: 3px;
	border-radius: 10px;
	position: absolute;
	bottom: -34px;
	left: 0;
	background-color: red;
	transition: width 0.6s;
}

.nav-links li a:hover::after {
	width: 100%;
}

/* BUTTONS */
.cta {
	display: none;
}

.cta2 {
	display: block;
	padding: 10px 25px;
	font-size: 13px;
	letter-spacing: 0.1rem;
	font-weight: 600;
	color: #fff;
	background-color: rgb(85, 77, 240);
	box-shadow: 0 0 10px rgb(83, 76, 218);
	border: none;
	border-radius: 60px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.cta2:hover {
	border: 2px solid rgb(85, 77, 240);
	box-shadow: none;
	background-color: transparent;
	color: #fff;
}

button {
	border: none;
	border-radius: 50px;
	cursor: pointer;
	padding: 10px 25px;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: transparent;
	color: #fff;
}

/* Search */

.search {
	position: relative;
	margin: 10px;
	width: 310px;
	height: 40px;
	overflow: hidden;
	background-color: transparent;
	outline: 2px solid white;
	border-radius: 60px;
	transition: 0.5s;
}

.search .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
}

.search .icon::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	transform: translate(-2px, -2px);
}

.search .icon::after {
	position: absolute;
	content: "";
	width: 3px;
	height: 10px;
	background-color: rgb(255, 255, 255);
	transform: translate(8px, 8px) rotate(-45deg);
}

.search .input {
	position: relative;
	background-color: transparent;
	width: 300px;
	height: 40px;
	left: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search .input input {
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 100%;
	border: 0;
	outline: 0;
	font-size: 18px;
	background-color: transparent;
	color: rgb(255, 255, 255);
	padding: 10px 20px 10px 0;
}

.search .input input::placeholder {
	color: rgba(255, 255, 255, 0.517);
}

.search .input input:focus::placeholder {
	color: #ffffff0f;
}

.search .clear {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.clear::before {
	position: absolute;
	content: "";
	width: 1px;
	height: 15px;
	background-color: rgb(255, 255, 255);
	transform: rotate(45deg);
}

.clear::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 15px;
	background-color: rgb(255, 255, 255);
	transform: rotate(-45deg);
}

/* Home-Page section */
.home-page {
	background: linear-gradient(rgba(15, 23, 37, 0.739), rgba(255, 0, 0, 0.222)), url(../Images/home-image.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.6rem 3rem;
}

.home-objects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.home-title {
	margin: 2rem 0 0 4rem;
}

.home-title h2 {
	font-size: 90px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
	font-weight: 900;
	color: #fff;
}

span {
	color: rgb(255, 0, 0);
}

.home-img {
	margin-top: 180px;
}

.home-img img {
	width: 500px;
}

/* About section */
.about-page {
	min-height: 100vh;
	padding: 0 3rem 5rem 3rem;
	background: #141a25;
}

.about-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
}

.about-title h2 {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 30px;
	color: rgb(255, 0, 0);
}

.about-title h3 {
	font-size: 23px;
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 50px;
	letter-spacing: 1px;
	color: rgb(255, 5, 5);
}

.about-title p {
	width: 90%;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.9rem;
	letter-spacing: 0.8px;
	color: #ffffff;
}

/* Slider swiper */
.about-slider {
	padding: 80px 0 40px 0;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.about-slide {
	text-align: center;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-slide {
	text-align: center;
}

.image-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-slider .swiper-pagination-bullet {
	font-size: 14px;
	background-color: #ff0000;
}

/* About cards */
.about-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	margin-top: 100px;
	min-width: 300px;
}

.about-card {
	width: 100%;
	height: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.anim {
	opacity: 0;
	transition: opacity 0.9s, transform 0.9s;
	transform: translateY(120px);
}

.anim.element-show {
	opacity: 1;
	transform: translateY(0);
}

.card-svg {
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
	background: url(../Images/security-verified-solid-svgrepo-com.svg) 0 0 / 100%;
	color: #161616;
}

.two-Example {
	background: url(../Images/speed-alt-svgrepo-com.svg) 0 0 / 100%;
}

#yearsCard {
	width: 100%;
}

.numberCard {
	color: #fff;
	font-size: 130px;
	font-weight: 800;
}

.card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-title h2 {
	color: #fff;
	font-size: 45px;
	margin-bottom: 15px;
}

.card-title p {
	color: #fff;
	font-size: 20px;
	width: 80%;
}

/* Logistic Page */

.logistic-page {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.logistic-cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 5rem 3rem;
}

.logistic-card {
	width: 300px;
	position: relative;
	background: linear-gradient(rgb(70, 4, 177), rgb(111, 0, 255));
	border-radius: 9px;
	margin: 1rem;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border: 1px solid rgba(255, 255, 255, 0.733);
	transition: 0.8s;
}

.logistic-card:hover {
	transform: scale(1.07);
	box-shadow: 0 0 45px rgba(255, 255, 255, 0.593);
	border: 1px solid rgb(255, 255, 255);
	margin: 1.5rem;
}

.logistic-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding-bottom: 25px;
}

.logistic-card-icon {
	width: 230px;
}

.logistic-card-icon img {
	width: 100%;
	height: 100%;
}

.Logistic-button {
	width: 220px;
	margin-top: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: none;
	color: rgb(18, 18, 18);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0;
	text-align: center;
	text-transform: none;
}

.Logistic-button:hover {
	border: 3px solid white;
}

.logistic-title {
	margin: 20px;
}

.logistic-title h2 {
	font-family: "Montserrat", sans-serif;
	padding-bottom: 6px;
	font-weight: 800;
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.logistic-title p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.price-logistic {
	width: 100%;
	background-color: rgb(255, 13, 0);
}

.price-logistic h2 {
	padding: 5px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.77px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.logistic-text {
	padding: 80px;
	flex-direction: column;
}

.logistic-text h2 {
	font-size: 27px;
	text-align: center;
	text-transform: uppercase;
	color: rgb(26, 43, 70);
	padding-bottom: 27px;
}

.logistic-text p {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.8rem;
	padding-bottom: 40px;
}

/* Products Page */

.products-page {
	min-height: 100vh;
	background-color: #fff;
}

.products-title {
	padding-top: 100px;
	height: 200px;
	text-align: center;
}

.products-title h2 {
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 9px;
	color: rgb(16, 22, 28);
}

.products-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Swiper slider / Products */
.product-slider {
	max-width: 1120px;
	width: 100%;
	height: 540px;
	margin-bottom: 50px;
}

.slide-container {
	margin: 0 30px;
	overflow: hidden;
}

.slide-card {
	background-color: #132137;
	width: 312px;
	border-radius: 20px;
	margin: 80px 0;
}

.slide-card .image-box {
	width: 100%;
	height: 200px;
	text-align: center;
}

.slide-card .image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.card-text {
	padding: 30px;
}

.card-text h2 {
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 2rem;
	color: #fff;
	position: relative;
}

.card-text h2::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 93%;
	height: 3px;
	background-color: #ff0000;
}

.card-text h3 {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.swiper-navBtn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 30px;
	background: #000000a2;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
	color: #ffffff;
}

.bulletsBtn .swiper-pagination-bullet {
	background-color: #ff0000;
}

/* Footer */
footer {
	width: 100vw;
	padding: 40px 10% 70px 10%;
	background-color: #081418;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.footer-content-2 {
	display: flex;
	flex-direction: column;
}

.contacts-text {
	display: flex;
	flex-direction: column;
	line-height: 2.2rem;
	padding-top: 30px;
	padding-left: 20px;
}

.contacts-text a {
	font-size: 19px;
	text-transform: none;
	color: white;
	font-weight: 400;
	position: relative;
}

.contacts-text a::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgb(255, 0, 0);
	transition: width 0.6s;
}

.contacts-text a:hover::after {
	width: 100%;
}

.footer-logo {
	width: 120px;
	height: 120px;
}

.footer-logo img {
	width: 100%;
	height: 100%;
}

.footer-title h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	letter-spacing: 1.2px;
	color: #fff;
}

.footer-title p {
	padding-top: 20px;
	font-size: 15px;
	width: 68%;
	color: rgba(255, 255, 255, 0.856);
}

.social-media {
	display: flex;
	padding-top: 30px;
	padding-left: 25px;
}

.social-media a {
	font-size: 40px;
	margin-right: 2rem;
	transition: 0.5s;
	color: rgba(255, 255, 255, 0.856);
}

.social-media a:hover {
	color: rgb(255, 0, 0);
	text-shadow: 0 0 40px rgb(255, 0, 0);
}