@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.contacts-page {
  min-height: 100vh;
  background: linear-gradient(rgba(21, 105, 216, 0.664), rgba(18, 17, 17, 0.929)), url(../Images/Chinarown.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.contacts-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacts-title {
  text-align: center;
}

.contacts-title h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  animation: title-anim 5s infinite;
}

@keyframes title-anim {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0);
  }

  25% {
    text-shadow: 0 0 15px rgb(255, 255, 255);
  }

  50% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0);
  }

  75% {
    text-shadow: 0 0 15px rgb(255, 255, 255);
  }

  100% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0);
  }
}

.content-social-media {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.content-social-media a {
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 20px 20px;
  background-color: rgb(9, 23, 43);
  color: rgb(255, 255, 255);
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: inherit;
  margin-top: 1.3rem;
  transition: 0.5s;
}

.content-social-media a:hover {
  background-color: rgb(225, 0, 0);
}